extends layout




block content
 .container
  each catigory in Catigories
   .panel.panel-default(style='border-color:'+catigory.CatigoryColor)
    .panel-body
     h4=catigory.CatigoryName
      form(method='post')
       button.btn.btn-danger.pull-right(  name='DelSubmit' value=""+catigory._id) delete












  form.form-horizontal(method='post')
   
   .form-group
    .col-sm-2
     label.form-label(for="CatigoryNameI") Catigory Name:
    .col-sm-5
     input.form-control(type="text" name='CatigoryNameI')

   .form-group
    .col-sm-2
     label.form-label(for="CatigoryColorI") Catigory Color:
    .col-sm-5
     input.form-control(type='color' name='CatigoryColorI')

   .form-group
    .col-sm-2.col-sm-offset-2
     input.btn.btn-primary(type='submit' value='Add' name='AddSubmit')
   